<div class="container bg-primary-subtle my-2 rounded-2 p-5">
    <div class="text-center">
        <h1>Cadastro de Produtos</h1>
    </div>
    <form class="mx-5" [formGroup]="formGroupProduct">
        <div class="row g-2 p-1">
            <div class="col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Nome do produto :</label>
                <input type="ID" class="form-control" id="name" formControlName="name" />
            </div>
        </div>
        <div class="mb-3 p-1">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição do Produto :
            </label>
            <textarea class="form-control" id="descricao" formControlName="description" rows="3"></textarea>
        </div>
        <div class="row g-2 p-1">
            <div class="col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Preço :</label>
                <input type="number" class="form-control" id="price" formControlName="price" />
            </div>
            <div class="col-md-3">
                <label for="exampleFormControlInput1" class="form-label">Quantidade do Estoque:
                </label>
                <input type="number" class="form-control" formControlName="quantidade" id="quantidade" />
            </div>
        </div>
        <div class="col-md-4 g-2">
            <label for="exampleFormControlInput1" class="form-label">Responsável :
            </label>
            <input type="password" class="form-control" id="Responsável" formControlName="responsable" />
        </div>
        <div class="vstack gap-2 col-md-2 py-4">
            <button type="button" class="btn btn-primary opacity-75" (click)="save()">Cadastrar</button>
        </div>
        <div class="card" *ngIf="products.length > 0">
            <div class="card-body mb-2">
                <h1 class="text-center mt-3"> Lista de Produtos</h1>
                <br>
                <div *ngFor="let p of products" class="border border-primary p-3 my-1 mx-4 border-opacity-25 rounded-3 bg-info-subtle ">
                    <h5 class="card-title">{{p.name}} #{{ p.id }}</h5>
                    <p class="card-text">Descrição: {{ p.description }}</p>
                    <p class="card-text">Preço: {{ p.price }}</p>
                    <p class="card-text">Quantidade disponível: {{ p.quantidade }}</p>
                    <div class="d-flex justify-content-evenly">
                        <button type="button" class="btn btn-outline-secondary" (click)="edit(p)">Editar</button>
                        <button type="button" class="btn btn-outline-danger" (click)="delete(p)">Remover</button>  
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>